Workflows/SpyroSolutions_Neo4j_GraphRAG_Test.json
{
  "name": "SpyroSolutions_Neo4j_GraphRAG_Test",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "spyro-graph-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook_trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://spyro_neo4j:7474/db/neo4j/tx/commit",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"statements\": [\n    {\n      \"statement\": \"{{ $json.query || 'MATCH (n) RETURN n LIMIT 5' }}\",\n      \"parameters\": {{ JSON.stringify($json.parameters || {}) }}\n    }\n  ]\n}",
        "options": {}
      },
      "id": "neo4j_query",
      "name": "Neo4j Query (HTTP)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 300],
      "credentials": {
        "httpBasicAuth": {
          "id": "new",
          "name": "Neo4j Basic Auth"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [[{
        "node": "Neo4j Query (HTTP)",
        "type": "main",
        "index": 0
      }]]
    },
    "Neo4j Query (HTTP)": {
      "main": [[{
        "node": "Respond to Webhook",
        "type": "main",
        "index": 0
      }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}